/* #sidebar{
    margin-left: 141px;
} */
/* #canvas{
    width: 120%;
}
#topcanvas{
    width: 124%;
}
@media (min-width: 1536px){
    #mothercanva{
        width: 80%;
    }
    #sidebar{
        width: 20rem;
    }
} */

